<div class="container mt-4">

  <h2>Kitchen Picks へようこそ！</h2>
  <p class="text-muted">
    キッチン便利グッズのレビュー・投稿アプリです。  
    気に入ったアイテムの使い心地を共有しましょう。
  </p>

  <hr>

  <div class="mt-4">

    <h4>メニュー</h4>

    <ul class="list-group">

      <li class="list-group-item">
        <%= link_to "投稿一覧を見る", posts_path, class: "text-decoration-none" %>
      </li>

      <li class="list-group-item">
        <%= link_to "新規投稿する", new_post_path, class: "text-decoration-none" %>
      </li>

      <% if user_signed_in? %>
        <li class="list-group-item">
          <%= link_to "マイページへ", user_path(current_user), class: "text-decoration-none" %>
        </li>
      <% else %>
        <li class="list-group-item">
          <%= link_to "ログインする", login_path, class: "text-decoration-none" %>
        </li>
        <li class="list-group-item">
          <%= link_to "新規登録する", signup_path, class: "text-decoration-none" %>
        </li>
      <% end %>

      <li class="list-group-item">
        <%= link_to "About（アバウト）", about_path, class: "text-decoration-none" %>
      </li>

    </ul>

  </div>

</div>