<div
  class="post-rating <%= local_assigns[:class_name] %>"
  data-rating-display
  data-rating-score="<%= rating %>"
  data-rating-star-on="<%= asset_path("star-on.svg") %>"
  data-rating-star-off="<%= asset_path("star-off.svg") %>"
  data-rating-star-half="<%= asset_path("star-half.svg") %>">
</div>